<div class="panel panel-default">
    <div class="panel-heading">
        <span class="label label-default pull-right"><%= ad.kind %></span>

        <h3 class="panel-title">
            <%= link_to( ad ) do %>
                <%= ad.title %>
            <% end %>
        </h3>
    </div>
    <div class="panel-body">
        <% if ad.price %>
            <h2><%= format('%.2f', ad.price) %>€</h2>
        <% end %>
        <p>Code postal: <%= ad.zipcode %></p>
    </div>
</div>
