<h1>Toutes les annonces</h1>

<% if @ads_number == 0 %>
    <p>Il n'y a aucune annonce pour le moment.</p>
    <p>
        <%= link_to(new_ad_path, class: ["btn", "btn-primary"]) do %>
            Soyez le premier à poster une annonce !
        <% end %>
    </p>
<% else %>
    <div class="row">
        <div class="col-sm-8">
            <% if @ads.empty? %>
                <p>Aucune annonce ne correspond à ces critères.</p>
                <p>
                    <%= link_to(ads_path, class: ["btn", "btn-primary"]) do %>
                        Effacer les critères
                    <% end %>
                </p>
            <% else %>
                <% @ads.each do |ad| %>
                    <%= render partial: 'ad', locals: {ad: ad} %>
                <% end %>
                <%= paginate @ads %>
            <% end %>
        </div>
        <div class="col-sm-4">
            <h4>Chercher par:</h4>
            <%= form_for ads_path, method: :get do |f| %>
                <div class="form-group">
                    <%= f.label :kind %>
                    <%= f.collection_radio_buttons(:kind, ["offre", "demande"], :to_s, :to_s, required: false, class: 'form-control') do |b| %>
                        <div class="radio">
                            <label>
                                <%= b.radio_button %> <%= b.label %>
                            </label>
                        </div>
                    <% end %>
                </div>
                <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field(:title, label: "Titre de l'annonce", required: false, class: 'form-control') %>
                </div>
                <div class="form-group">
                    <%= f.label :pseudo %>
                    <%= f.text_field(:pseudo, label: "Pseudo", required: false, class: 'form-control') %>
                </div>
                <input type="reset" value="Effacer" class="btn btn-default" />
                <%= f.submit "Rechercher", class: 'btn btn-primary' %>
            <% end %>
        </div>
    </div>
<% end %>
