<h1>Déposer une annonce</h1>

<%= semantic_form_for @ad do |f| %>
    <%= f.inputs name: "Votre annonce" do %>
        <%= f.input(:kind, label: "Type d'annonce", as: :radio, collection: ["offre", "demande"]) %>
        <%= f.input(:title, label: "Titre de l'annonce") %>
        <%= f.input(:body, label: "Texte de l'annonce", input_html: {id: 'ad_body_', rows: 10, cols: 20}) %>
        <%= f.input(:price, label: "Prix (en €uros)", min: 0) %>
    <% end %>

    <%= f.inputs name: "Vos informations" do %>
        <%= f.input(:zipcode, label: "Code postal") %>
        <%= f.input(:pseudo, label: "Pseudo") %>
        <%= f.input(:email, label: "Email") %>
        <%= f.input(:phone, label: "Téléphone") %>
    <% end %>

    <%= f.actions do %>
        <%= f.action(:submit, as: :button, label: "Valider", button_html: {class: 'btn btn-primary'}) %>
        <%= f.action(:cancel, as: :link, label: "Annuler", button_html: {class: 'btn btn-default'}) %>
    <% end %>
<% end %>
