<div class="row">
    <div class="col-sm-8">
        <%= link_to(ads_path) do %>
            <span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste des offres
        <% end %>
        <span class="label label-default pull-right"><%= @ad.kind %></span>
        <h1><%= @ad.title %></h1>

        <% unless @ad.price.nil? %>
            <h2><%= format('%.2f', @ad.price) %>€</h2>
        <% end %>

        <h3>Description</h3>
        <p>
            <%= @ad.body %>
        </p>
        <h3>Localisation</h3>
        <p>Code postal: <%= @ad.zipcode %></p>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><%= @ad.pseudo %></h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Email</dt>
                    <dd><%= @ad.email %></dd>
                    <dt>Téléphone</dt>
                    <dd><%= @ad.phone %></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
