<!DOCTYPE html>
<html>
<head>
    <title>Le petit bon coin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#boncoin-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <%= link_to(root_path, class: ["navbar-brand"]) do %>
                Le petit bon coin
            <% end %>
        </div>
        <div class="collapse navbar-collapse" id="boncoin-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to(new_ad_url) do %>
                        Poster une annonce
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <%= yield %>
</div>
</body>
</html>
